.natal-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;

  .natal-container {
    position: relative;
    z-index: 1;
    padding: 25px;
    width: 100%;
    height: 100%;
  }

  .natal-container::before {
    content: "";
    position: absolute;
    inset: 29%;
    border-radius: 100%;
    background: linear-gradient(100deg, #00ffe0, #ff4dff);
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 2px),
      black 100%
    );
    z-index: -1;
  }

  .natal-container::after {
    content: "";
    position: absolute;
    inset: 29%;
    border-radius: 100%;
    z-index: 0;
    box-shadow: 0 0 3px #00ffe0, 0 0 3px #ff4dff,
      0 0 3px rgba(255, 77, 255, 0.4), 0 0 3px rgba(0, 255, 224, 0.4);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 28px;
    border-radius: 100%;
    background: linear-gradient(100deg, #00ffe0, #ff4dff);
    padding: 10px;
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 2px),
      black 100%
    );
    z-index: -1;
    animation: rotateGlow 3s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 30px;
    border-radius: 60%;
    z-index: 0;
    box-shadow: 0 0 5px #00ffe0, 0 0 6px #ff4dff,
      0 0 5px rgba(255, 77, 255, 0.4), 0 0 0px rgba(0, 255, 224, 0.4);
  }

  .icon {
    position: absolute;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    color: white;

    &.fire {
      top: 40px;
      left: 10px;
      color: #fe9a00;
    }

    &.air {
      top: 40px;
      right: 10px;
      color: #49FAFA;
    }

    &.earth {
      bottom: 40px;
      left: 10px;
      color: #06FECC;
    }

    &.water {
      bottom: 40px;
      right: 10px;
      color: #998BF7;
    }
  }
}

@keyframes rotateGlow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
